.panel button {
    background-color: #ff5f6d;
    color: white;
}

.section {
    list-style-type: none;
    background-color: #ff5f6d;
    border-radius: 10px;
}

.section li p {
    border: 1px solid white;
    background-color: white;
    padding: 5px;
}