.jumbotron {
    color:floralwhite;
    background-color: #ff4b39;
}

.profile {
    position: absolute;
    right: 10px;
    font-size: smaller;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
    color: #ff4b39;
    border: 1px solid white;
}