.container {
  display: flex;
  margin: 20px;
}

.details {
  height: 200px;
}

.post {
  background-color: #ff5f6d;
  border-style: solid;
  position: absolute;
  right: 10px;
  top: 100px;
}

.panel {
  border: 1px solid #white;
  color: white;
  background-color: #ff4b39;
  border-radius: 10px;
}

.panel button {
  background-color: #ff5f6d;
  color: white;
}
